body {
	color: #2f5572;
	padding: 0;
	margin: 0; 
	-webkit-box-sizing: border-box; 
	        box-sizing: border-box;
	-webkit-columns: 300px 2;
	        columns: 300px 2;
}

.box a {
		display: block;
		padding: 10px;
	}